@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');
body{
    color: #3f2803;
font-family: 'Hind', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;}
    
    .container-fluid{
        width: 90%;}

h2{
    font-weight: 700;
    font-size:50px;

}

/*start navbar*/
.navbar .button{
    background-color: #fc8019;
}
.navbar a.navbar-brand{
    width: 10%;
    height: 10%;
}
.nav-item .active{
    color:#313335;
    font-size: 16px;
}
.navbar .nav-link{
    color: #818181;
    margin-right: 15px;
    font-weight: 400;
    padding: 10px 0;
    position: relative;
}
.navbar .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fc8019;
    width:0;
    left: 0;
    transition: width 1s;
}
.navbar .nav-link:hover::after{
    width: 100%;
}
.navbar .nav-item .active::after{
    width: 100%;
}
.button span{
    font-size: 14px;
}
.button i{
    transition: 1s;
}
.button:hover i{
    transform: rotate(360deg);
    background-color: #313335 !important;
    color: white !important;
}
/*end navbar*/

/*start header*/
.dlab-bnr-inr{
    margin-top: 130px;
}
.dlab-bnr-inr .container {
    height: auto;
    padding-top: 25px;
}
.dlab-bnr-inr .container {
    display: table;
    z-index: 2;
    position: relative;
}
.header .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
}
.dlab-bnr-inr {
    height: 300px;
    background-size: cover;
    background-position: center bottom;
    display: table;
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
    background-repeat: no-repeat;
}
.dlab-bnr-inr-entry {
    vertical-align: middle;
    display: table-cell;
}
.header .text-center {
    text-align: center!important;
}
.bnr-btn {
    margin-top: 20px;
}
.bnr-btn h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.text-white {
    color: #FFF;
}
.m-t10 {
    margin-top: 10px;
}
.banner-bx {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner-bx .bnr-img1 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 0px 20px;
    border-radius: 5px;
    position: relative;
    bottom: -30px;
}
.banner-bx .bnr-img {
    transition: .5s ease-in;
    
}
.banner-bx img{
   
        border-style: none;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
}
.banner-bx.active .bnr-img2 {
    transform: rotate(-10deg);
    left: 15%;
}
.banner-bx .bnr-img2 {
    position: absolute;
    z-index: -1;
    width: 35%;
    box-shadow: 0px 0px 20px;
    bottom: -30px;
    border-radius: 5px;
}
.banner-bx .bnr-img {
    transition: .5s ease-in;
}
.banner-bx.active .bnr-img3 {
    transform: rotate(10deg);
    right: 15%;
}
.banner-bx .bnr-img3 {
    position: absolute;
    z-index: -1;
    width: 35%;
    box-shadow: 0px 0px 20px;
    bottom: -30px;
    border-radius: 5px;
}
.banner-bx.active .bnr-img4 {
    transform: rotate(-15deg);
    left: 3%;
}
.banner-bx .bnr-img4 {
    position: absolute;
    z-index: -2;
    width: 28%;
    box-shadow: 0px 0px 20px;
    bottom: -30px;
    border-radius: 5px;
}
.banner-bx .bnr-img {
    transition: .5s ease-in;
}
.banner-bx.active .bnr-img5 {
    transform: rotate(15deg);
    right: 3%;
}
.banner-bx .bnr-img5 {
    position: absolute;
    z-index: -2;
    width: 28%;
    box-shadow: 0px 0px 20px;
    bottom: -30px;
    border-radius: 5px;
}
/*end header*/
/* 
//animation */

@keyframes contentLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes contentRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes content{
    0%{
        transform:translate3d(0%);
    }
    100%{
        transform:translate3d(50%);
    }
}

/* ----------------------about style ------------------------------------ */
section.about .container{
    width: 90%;
}


section.about .about-content{
animation-name: contentLeft;
animation-duration: 1.5s;
}

section.about .about-content span {
    color:#fc8019;
    font-size: 22px;

}
section.about h2{
    margin-left: 15px;
    
    color: #3f2803;
    
}
section.about h2 .tag{
    right: 15%;
    bottom: 10px;
}
    



section.about h2 .tag i{
    font-size: 32px;
    color:#fc8019;
  
    
}

section.about p{
    font-size: 22px;
    color: #555;
    width: 75%;
    font-weight: 400;
}
section.about .aboutBtn{

    background-color:#fc8019;
    width: 40%;
    font-weight: 700;
    border-radius:10px;
   font-size: 17px;
   font-family: 'Raleway', sans-serif;
}
section.about .item {
    background-color:#dd6f1a21;
    border-radius: 10px;
    width: 100%;
   
    }
   
    section.about .item:nth-child(1){
        animation-name: contentRight;
        animation-duration: 1.5s;
    }
    section.about .item:nth-child(2){
        animation-name: contentRight;
        animation-duration: 2s;
    }
    section.about .item:nth-child(3){
        animation-name: contentRight;
        animation-duration: 2.5s;
    }
section.about .item h3{
    font-size: 26px;
    font-weight: 600;
}
section.about .item p{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

/* --------------------- categories style ------------------------------------ */

.categories .categories-title h2{

    animation-name: content;
    animation-duration:1s;

}
.categories .categories-title h2::before{
    content: " ";
    background-color: #fc8019;
    width: 25%;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 5%;
    border-radius: 10px;
}
.categories .categories-title h2::after{
    content: " ";
    background-color: #fc8019;
    width: 25%;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 5%;
    border-radius: 10px;
    
}

.categories .categories-title i{
    transform:rotate(-20deg);
    bottom: 67px;
    right:31%;
    font-size: 24px;
}

.categories .item-content{
 margin: auto;
 width: 90%;
 top:0%;
 left:5%;
 bottom: 5%;
 overflow: auto ;
/* border:10px solid #fc8019; */
border-radius: 5px;
background-color: white;
box-shadow: 0px 0px 10px 0px #fc8019;
opacity: 0;
visibility:hidden;

}
.categories .item-content .closedicon i{
    font-size: 25px;
    color:#fc8019;

}



.categories .item-content .item-card{
  border-bottom:3px solid #fc8019!important;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  /* box-shadow: 0px 0px 4px 0px #fc8019; */

}
.categories .item-content .item-card i{
    position: absolute;
    color:#fc8019;
    top:5px;
    right: 4px;
    font-size: 25px;
    opacity: 0;
    transition: opacity .5s;
}

.categories .item-content .item-card .card-desc{
    background-color:#fc8019;
    /* #dd6f1acc */
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

}
.categories .item-content .item-card .card-desc{
    background-color:#fc8019;
    /* #dd6f1acc */
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    bottom: -20%;
    transition: bottom .5s;
}
.categories .item-content .item-card .card-desc span{
    font-size: 21px;
}
.categories .item-content  h3{
  color: #fc8019;
  font-size: 30px;
 font-weight: 600;
 font-style:italic;
}
.categories .item-content .item-card:hover .card-desc{
    bottom: 0%;
}
.categories .item-content .item-card:hover i{
    opacity: 1;
}
.categories .item-content .item-card img{
    height: 420px;
}
@media ( width < 1200px ) {
    .categories .categories-title h2::before,
    .categories .categories-title h2::after,
    .categories .categories-title i{
       opacity: 0;
    } 
}
